/* ここから下に記載していく */

.content {
    padding-top: 121px; 
}

header {
    position: fixed;
    width: 100%; 
    height: 121px; 
    background: white; 
    padding: 20px 60px; 
    box-sizing: border-box;
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    z-index: 100;
  
   /* ロゴとメニューを横並びにする */
    display: flex; 
    justify-content:space-between;
}

header #page-link .menu {
    display: flex; 
}

header #page-link .menu li {
    list-style: none; 
    margin-right: 50px;
}

header #page-link .menu li a{
   color: #222222;
   font-style: 24px;
   text-decoration: none;
}

header #page-link .menu li :hover{
    text-decoration: underline;
}

/* main */
.main{
    position:relative;
}

.main img{
    width: 100%;
}

.main h1{
    position: absolute;
    top: 42%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    -webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    transform: translate(-50%,-50%);/*センター寄せの修正*/
    color: #fff;
    font-size: 45px;
}

.main p{
    position: absolute;
    top: 58%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    -webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    transform: translate(-50%,-50%);/*センター寄せの修正*/
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
    white-space: nowrap;
}


/* about */
.about{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.english-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.yellow-word{
    color: #ffd61a;
}

.japanese-title{
    font-size: 18px;
    margin-bottom: 60px;
}

.default-text div{
    padding-bottom: 40px;
}
.default-text div p{
    line-height: 40px;
}

.about-img{
    margin-bottom: 60px;
}

.about-img ul{
    display: flex;
    width: 100%;
}

.about-img ul li img{
    width: 100%;
}

/* course */
.course{
    text-align: center;
}

.course-body{
    background-color: #fafafa;
    margin-bottom: 60px;
}

.course-menu{
    display: flex;
}

.course-menu img{
    width: 50%;

    overflow: hidden;
    position: relative;
}

.course-menu-text-container{
    position: relative;
    width: 50%;
    margin: 120px 0;
    text-align: left;
}

.text-right{
    width: 480px;
    padding-left: 50px;
}

.text-left{
    width: 440px;
    margin: 0 0 0 auto;
    padding-right: 50px;
}

.text-right p, .text-left p{
    line-height: 30px;
}

/* News */
.news{
    text-align: center;
    margin-bottom: 60px;
}

.news-menu{
    list-style:none;/*デフォルトの指定を解除*/
    display:inline-block;/*liをインラインブロック要素に*/
    margin: 15px; /*縦の余白を指定*/
    width:300px;/*幅を指定*/
    vertical-align:middle;/*縦方向を中央揃え*/
    text-align:left;/*横方向を中央揃え*/  
    font-size: 16px;
    cursor: pointer;
}

.news-menu h3{
    margin:30px 0 24px 0;
    font-size: 16px;
}

.news-menu p{
    font-size: 14px;
    line-height: 20px;
}

.more-button{
    position: relative;
    width: 300px;
    height: 50px;
    font-size: 18px;
    background-color: #ffd61a;
    margin: 60px auto 0 auto;
    cursor: pointer;
    border: none;
}

.more-button :hover{
    margin-top: 3px;
}

.more-button p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    color: #fafafa;
}

/* access */
.access{
    text-align: center;
    background-color: #fafafa;
    padding-top: 60px;
}

.school-info{
    list-style:none;/*デフォルトの指定を解除*/
    display:inline-block;/*liをインラインブロック要素に*/
    margin: 15px; /*縦の余白を指定*/
    vertical-align:middle;/*縦方向を中央揃え*/
    text-align:left;/*横方向を中央揃え*/  
}

.school-info tr{
    line-height: 50px;
}

#school-info-a{
    width: 30%;
}

/* #school-info-b{
    width: 70%;
} */

/* contact */
.contact{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 140px;
}

.contact-form{
    list-style:none;/*デフォルトの指定を解除*/
    display:inline-block;/*liをインラインブロック要素に*/
    margin: 15px; /*縦の余白を指定*/
    vertical-align:middle;/*縦方向を中央揃え*/
    text-align:left;/*横方向を中央揃え*/ 
    border-top: 3px solid #bfbfbf;
}

.contact-form tr{
    border-bottom: 1px solid #bfbfbf;
}

.form-title{
    width: 150px;
    padding: 8px 60px 8px 16px;
    line-height: 30px;
}
.form-part{
    width: 400px;
    padding: 8px 0 8px 8px;
    border-left: 1px solid #bfbfbf;
}

#name, #kana, #email{
    width: 328px;
}

#detail{
    height: 150px;
    width: 328px;
}

.chance-option{
    line-height: 40px;
}

/* footer */
footer{
    text-align: center;
    background-color: #707070;
    color: #fafafa;
    padding: 30px 0;
}